:root {
  --player-width: 800px;
  --player-height: calc(var(--player-width) * 9 / 16);
}

*,
:before,
:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: black;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#main {
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#player-wrapper {
  position: relative;
}

#player,
#plot {
  display: block;
}

#player {
  width: var(--player-width);
  height: var(--player-height);
}

#timer {
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: 100px;
  width: 100px;
  height: var(--player-height);
}

#plot-wrapper {
  height: 200px;
}

#plot {
  width: 100%;
  height: 100%;
}
