*,
:before,
:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: black;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#main {
  flex: auto;
  display: flex;
}

iframe,
canvas {
  display: block;
}

#player {
  flex: auto;
  height: 100%;
}

#timer {
  position: relative;
  width: 100px;
  height: 100%;
}

#plot {
  display: none;
}
